<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <!--
    This is a sample configuration file for the NCron stand-alone service.
    -->

    <configSections>
        <section name="ncron" type="NCron.Service.Configuration.NCronSectionHandler, NCronLoader"/>
        <!--
        Add your own configuration section declarations here.
        Alternatively/additionally you can use the default .NET appSettings element.
        -->
    </configSections>

    <ncron>
        <jobs>
            <!--
            Jobs can be placed directly below the job element or witin a descending group element.
            Groups can be nested in arbitrary depth, allowing you to strucure your cron jobs.
            -->
            <job name="cleanup" type="Acme.CleanUpJob, AcmeCronPack"/>
            
            <group name="mail">
                <job name="reports" type="Acme.MailReportsJob, AcmeCronPack"/>
                <job name="reminders" type="Acme.MailRemindersJob, AcmeCronPack"/>
            </group>

            <group name="backup" type="Acme.BackupJob, AcmeCronPack">
                <job name="full"/>
                <job name="partial"/>
            </group>
        </jobs>

        <plans>
            <!--
            Plans can be attached to a single job, or multiple jobs using the * wildcard in the name.
            The schedule is defined using: minutes, hours, daysOfWeek, daysOfMonth, month.
            
            Attributes are expected to be in crontab-like syntax.
            You can use an asterisk in any category to mean for every item, such as every day or every month.
            You can use commas in any category to specify multiple values. For example: 1,2,5.
            You can use dashes to specify ranges. For example: mon-fri, or 9-17.
            You can use forward slash to specify a repeating range. For example: */5 for every five minutes/hours/days.
            Search the web for "crontab format" for more information and examples.
            -->
            <plan name="cleanup" hours="0" minutes="0"/>
            <plan name="mail.*" hours="9-17" minutes="*/15"/>
            <plan name="backup.full" daysOfWeek="0/2" hours="2" minutes="0"/>
            <plan name="backup.partial" daysOfWeek="1-6" hours="4" minutes="0"/>
        </plans>
    </ncron>
</configuration>