<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="ncron" type="NCron.Service.Configuration.NCronSection, NCron.Service"/>
    </configSections>

    <!--
    Use the <ncron> section if you need to inject code into the NCron service pipeline.
    Example:
    
        <ncron>
            <schedule type="Acme.Schedule, Acme"/>
            <jobFactory type="Acme.JobFactory, Acme"/>
            <logFactory type="Acme.LogFactory, Acme"/>
        </ncron>
    
    Use the <appSettings section for any settings your jobs and/or extensions need.
    Example:
    
        <appSettings>
            <add key="AcmeCache_MaxAge" value="12:00:00"/>
        </appSettings>
    
    Use the configuration file as you would use it in any other .NET application.
    Example:
    
        <system.net>
            <mailSettings>
                <smtp deliveryMethod="SpecifiedPickupDirectory">
                    <specifiedPickupDirectory pickupDirectoryLocation="f:\mailpickup"/>
                </smtp>
            </mailSettings>
        </system.net>
    
        <runtime>
            <assemblyBinding>
                <probing privatePath="jobs"/>
            </assemblyBinding>
        </runtime>
    -->
</configuration>